#appContainer {
  width: 290px;
  background: rgb(255, 249, 213);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.502), 0 0 10px rgba(0, 0, 0, 0.494),
    0 0 15px rgba(0, 0, 0, 0.32);
}

#currentDate {
  padding: 22px 22px;
  text-align: center;
  color: rgb(139, 13, 139);
  border-bottom: 1px solid black;
}

#titleContainer {
  text-align: center;
  padding: 20px 0px;
}

#taskContainer {
  padding: 0px 20px;
}

.tasks {
  /* text-decoration: line-through; */
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.555);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.338), 0 0 10px rgba(0, 0, 0, 0.338);
}

.taskWriter {
  padding: 10px 20px;
  outline: none;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  transition: all 0.3s ease;
}

.taskWriter:focus {
  padding: 10px 60px 10px 20px;
  text-align: start;
}

#btnContainer {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

#addBtn {
  border: none;
  outline: none;
  padding: 7px 15px;
  border-radius: 5px;
  background: rgb(74, 74, 255);
  color: white;
}
